.DS_Store
.git
.idea
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
data/MPD
data/models
data/music4all_base
data/1,2_million_spotify
data/*.bz2
data/*.csv
node_modules
dist
build
